@import 'variables';

.contact_form{
    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        .form_progress_overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparentize($green, .6);
            z-index: 9;
            cursor: progress;
        }
    }
}

.russell{
    position: relative;
    z-index: 0;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%; 
        top: 0;
        left: 0;
        background: transparentize($green, .6);
        z-index: -1;
    }

    .russell_box{
        border: 2px solid $beige;
        padding: 40px;
        padding-bottom: 0;

        a{
            margin-bottom: -22.5px;
        }
    }
}

.thankyou_popup {
    position: fixed;
    width: 80%;
    max-width: 500px;
    background: $red;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 60px 20px transparentize(#000000, .7);
    text-align: center;
    div {
        border: 2px solid $beige;
        padding: 30px;
        h2 {text-transform: uppercase;}
        a {margin-top: 30px;}
    }
}