@import '_variables.scss';

.pageHero{
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 0;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%; 
        top: 0;
        left: 0;
        background: transparentize($black, .6);
        z-index: -1;
    }

    h1{
        margin-bottom: 0 !important;
    }

}
.scrollToBelowHero{
    position: absolute;
    color: $green;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $beige;
    border-radius: 30px;

    svg{
        width: 45px;
        height: 45px;
        padding: 15px;
    }

    &:hover{
        opacity: 1;
        background-color: $red;
        color: $beige;
    }
}

.bottom{
    position: relative;
    top: -79px;
}
