@import 'variables';

.russell{
    background: $red;
    .about_russell{
        display: flex;
        
        @include tablet {
            flex-direction: column;
        }
    
        span.russell_img{
            position: relative;
            flex-basis: 45%;
            display: inline-flex;
            align-items: flex-start;
            height: 100%;
            


            @include tablet {
                align-items: center;
                justify-content: center;
                margin-bottom: 3rem;
            }

            @include desktop-only {
                margin-right: 4rem;
                > span {
                    display: flex !important;
                    width: 100%;
    
                    > span {
                        width: 100%;
    
                        >img {
                            width: 100%;
                        }
                    }
                }
            }

            
            &:before{
                content: attr(data-name);
                position: absolute;
            }
        }
    
        &_russell_description{
            flex-basis: 55%;
            p {
                margin-bottom: .5rem;
            }
        }
    }
}

.ribbon {
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @include tablet {
            flex-direction: column;
        }
    }
}

.russell_info {
    .russell_box {
        border: 2px solid #ffffeb;
        padding: 40px;
        padding-bottom: 0;

        h5 a {
            color: inherit;
        }

        a {
            margin-bottom: -22.5px;
        }
    }
}