@import 'variables';

.russell{
    background: $red;
    .about_russell{
        display: flex;
        
    
        span{
            position: relative;
            flex-basis: 45%;
            display: inline-flex;
            align-items: flex-start;
            height: 100%;
            
            &:before{
                content: attr(data-name);
                position: absolute;
            }
        }
    
        p{
            flex-basis: 55%;
        }
    }
}

.ribbon {
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.russell_info {
    .russell_box {
        border: 2px solid #ffffeb;
        padding: 40px;
        padding-bottom: 0;

        a {
            margin-bottom: -22.5px;
        }
    }
}